# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
*.lock

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# IDE
.idea/
.vscode/
*.iml
